In [62]:
"""
This notebook is for preprocessing the data and getting it ready to be clustered. This is done by exploring the data, getting rid of outliers, 
and converting data to binary to only check for presence of a feature. I chose to use a variance threshhold for some feature reduction by only 
getting rid of features where all values were identical. If a feature is just the exact same (present or not present) for every sample of data, it 
contriubutes nothing but noise. I chose not to use Principal Componenet Analysis (PCA) because it assumes the data is continuouse, not binary, causing 
potential issues due to assumptions. Multiple Correspondence Analysis (MCA) would also work for dimensionality reduction, but would likely cause a loss 
in information.
"""

'\nThis notebook is for preprocessing the data and getting it ready to be clustered. This is done by exploring the data, getting rid of outliers, \nand converting data to binary to only check for presence of a feature. I chose to use a variance threshhold for some feature reduction by only \ngetting rid of features where all values were identical. If a feature is just the exact same (present or not present) for every sample of data, it \ncontriubutes nothing but noise. I chose not to use Principal Componenet Analysis (PCA) because it assumes the data is continuouse, not binary, causing \npotential issues due to assumptions. Multiple Correspondence Analysis (MCA) would also work for dimensionality reduction, but would likely cause a loss \nin information.\n'

In [63]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

In [64]:
df = pd.read_csv("../strabospot_data.csv")

/var/folders/k_/qdqmhtsx7mz24yl5hmlfnjz80000gn/T/ipykernel_66802/2931195543.py:1: DtypeWarning: Columns (11,12,15,16,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2635,2636,2639,2648,2650,2759,2761,2770) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../strabospot_data.csv")

In [65]:
#use this to see value counts of each column. The builtin value_counts function in the pandas libary is hard to read, so with val_count, it makes it a bit easier

def val_count(data):
    counter = 0
    for i in data.columns:
        print(counter)
        print(data[i].value_counts())
        counter += 1
        print("=========================="*5)
    print(data.shape)

In [66]:
val_count(df)

0
contacts drawing
b              15187
c              13368
d              10222
a-              9350
a               6884
b+              3371
c-              2427
b-              2350
c+              1440
f                859
0.300110724        1
742408             1
Name: count, dtype: int64
==================================================================================================================================
1
contacts drawing quality
c                      15109
a-                     11981
b                      11583
d                       9643
a                       6551
c-                      4585
b+                      3142
c+                      1627
b-                      1237
 38.56437533444736]        1
 38.49801201400001]        1
Name: count, dtype: int64
==================================================================================================================================
2
classification of spots
b                       17848
c                       16258
a                        7757
b+                       5814
a-                       5514
d                        3693
b-                       2795
c-                       2707
c+                       2511
d+                        561
 [-105.3000985444828        1
 [-105.2769028915698        1
Name: count, dtype: int64
==================================================================================================================================
3
correctness of spots
b                      18236
c                      15010
a                      10720
a-                      6980
d                       6422
b+                      2900
c-                      2620
b-                      1621
c+                       949
 38.56437850875051]        1
 38.49800978284398]        1
Name: count, dtype: int64
==================================================================================================================================
4
completeness of map
a                       16005
b                       15438
a-                      10606
c                        9682
c-                       4474
d                        4014
b+                       2626
f                         859
b-                        818
c+                        815
d+                        121
 [-105.3000904251169        1
 [-105.2768971898868        1
Name: count, dtype: int64
==================================================================================================================================
5
unit labels
a                      34934
d                       7568
b                       6856
c                       6545
a-                      4654
b+                      2258
c-                      1318
c+                       767
b-                       299
d+                       259
 38.56438168303873]        1
 38.49800755169829]        1
Name: count, dtype: int64
==================================================================================================================================
6
images
c                       15678
b                       15117
c+                       5499
d                        5425
a                        5414
b+                       4983
a-                       4435
c-                       4241
b-                       3954
d+                        712
 [-105.3000823057509        1
 [-105.2768971898868        1
Name: count, dtype: int64
==================================================================================================================================
7
overall impression
b                      15470
c                      11728
a-                      8287
a                       6681
d                       6016
c-                      5121
b-                      4564
b+                      3997
c+                      2782
d+                       812
 38.56438485734159]        1
 38.49800532054215]        1
Name: count, dtype: int64
==================================================================================================================================
8
geometry_type
Point                   57180
LineString               8278
 [-105.300074186385         1
 [-105.2768914882038        1
Name: count, dtype: int64
==================================================================================================================================
9
geometry_coordinates
[-105.29433145715, 38.568109779198]                                                                         2353
[-105.28289883312, 38.405708225328]                                                                         2197
[-105.29455351389, 38.567030387637]                                                                          196
[-105.29585934109, 38.567990798845]                                                                          196
[-105.2744409509479, 38.50604113011165]                                                                       49
                                                                                                            ...
[-105.300042, 38.563829]                                                                                       1
[-105.299099, 38.562155]                                                                                       1
[-105.30383, 38.563577]                                                                                        1
[[-105.294915, 38.565026], [-105.295428, 38.564768], [-105.296116, 38.564553], [-105.296183, 38.564293]]       1
[-105.2764032020434, 38.41120319560392]                                                                        1
Name: count, Length: 43862, dtype: int64
==================================================================================================================================
10
properties_date
2016-03-31T15:46:45.000Z    2744
2016-03-31T15:51:21.000Z    2197
2017-06-07T16:05:25.000Z      28
2017-06-07T20:00:34.000Z      28
2017-06-06T17:43:24.000Z      27
                            ...
2021-06-15T15:47:19.000Z       1
2021-06-16T16:33:46.000Z       1
2021-06-17T19:40:05.000Z       1
2021-06-18T20:40:55.000Z       1
2025-06-13T15:15:38.000Z       1
Name: count, Length: 43812, dtype: int64
==================================================================================================================================
11
properties_trace_trace_feature
True                   6804
TRUE                     39
 38.56439438023457]       1
 38.49800085824]          1
Name: count, dtype: int64
==================================================================================================================================
12
properties_trace_trace_type
contact                     4340
geologic_struc              2261
other_feature                131
geological_cross_section      67
anthropenic_fe                32
geomorphic_fea                 9
bedding                        1
stratigraphic_section          1
 [-105.3000579476626           1
 [-105.2768857865275           1
scale_bar                      1
Name: count, dtype: int64
==================================================================================================================================
13
properties_name
Blue Ridge Parking        2748
Of                        2507
Temple Canyon Map Area    2197
Oh                        2190
Pf                         635
                          ...
Unnamed371                   1
Unnamed215                   1
Unnamed425                   1
Unnamed461                   1
Morrison Fm.                 1
Name: count, Length: 17741, dtype: int64
==================================================================================================================================
14
properties_time
2016-03-31T15:46:45.000Z    2744
2016-03-31T15:51:21.000Z    2197
2017-06-07T16:05:25.000Z      28
2017-06-07T20:00:34.000Z      28
2017-06-06T17:43:24.000Z      27
                            ...
2021-06-15T15:47:19.000Z       1
2021-06-16T16:33:46.000Z       1
2021-06-17T19:40:05.000Z       1
2021-06-18T20:40:55.000Z       1
2025-06-13T15:15:38.000Z       1
Name: count, Length: 43812, dtype: int64
==================================================================================================================================
15
properties_id
1.459440e+13    4941
1.562000e+13    1044
1.562080e+13     895
1.561480e+13     821
1.560530e+13     813
                ...
1.625100e+13       1
1.624410e+13       1
1.625230e+13       1
1.624600e+13       1
1.747680e+13       1
Name: count, Length: 643, dtype: int64
==================================================================================================================================
16
properties_modified_timestamp
1.459440e+12    2224
1.465830e+12    1570
1.560530e+12     959
1.562000e+12     945
1.562080e+12     841
                ...
1.688770e+12       1
1.688100e+12       1
1.687410e+12       1
1.687920e+12       1
1.747680e+12       1
Name: count, Length: 714, dtype: int64
==================================================================================================================================
17
properties_self
https://strabospot.org/db/feature/14594392059498    2744
https://strabospot.org/db/feature/14594394816786    2197
https://strabospot.org/db/feature/14967699435488      27
https://strabospot.org/db/feature/14968663999511      27
https://strabospot.org/db/feature/14969358004972      27
                                                    ...
https://strabospot.org/db/feature/16240285794735       1
https://strabospot.org/db/feature/16240364959509       1
https://strabospot.org/db/feature/16237064693296       1
https://strabospot.org/db/feature/16239640841741       1
https://strabospot.org/db/feature/17498277381861       1
Name: count, Length: 44669, dtype: int64
==================================================================================================================================
18
type
Feature                 65456
 [-105.3000295298866        1
 [-105.2768772339997        1
Name: count, dtype: int64
==================================================================================================================================
19
properties_images
[{'lng': -105.30182934376, 'width': 1536, 'id': 14967806408826, 'lat': 38.564138459078, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14967806408826'}, {'lng': -105.30182934376, 'width': 1536, 'id': 14967806561937, 'lat': 38.564138459078, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14967806561937'}]                                                                                                                                                                                                                 27
[{'lng': -105.30148853558, 'width': 1536, 'id': 14969383312121, 'lat': 38.564281244798, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969383312121'}, {'lng': -105.30148853558, 'width': 1536, 'id': 14969383159737, 'lat': 38.564281244798, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969383159737'}]                                                                                                                                                                                                                 27
[{'lng': -105.29902107092, 'width': 1536, 'id': 14969468390556, 'lat': 38.562236605248, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969468390556'}, {'lng': -105.29892300265, 'width': 1536, 'id': 14969467157810, 'lat': 38.562231115101, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969467157810'}, {'lng': -105.29892954054, 'width': 1536, 'id': 14969465904080, 'lat': 38.562220302446, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969465904080'}]    27
[{'lng': -105.30273559513, 'width': 1536, 'id': 14969424160866, 'lat': 38.563660816325, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969424160866'}, {'lng': -105.30273559513, 'width': 1536, 'id': 14969423601522, 'lat': 38.563660816325, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14969423601522'}]                                                                                                                                                                                                                 27
[{'lng': -105.3038202134, 'width': 1536, 'id': 14968640404070, 'lat': 38.56319813527, 'height': 1536, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/14968640404070'}]                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
[{'width': 2448, 'id': 15604426603224, 'height': 3264, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/15604426603224'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
[{'width': 2448, 'id': 15603658857944, 'height': 3264, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/15603658857944'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
[{'width': 2448, 'id': 15601996496904, 'height': 3264, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/15601996496904'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
[{'width': 2448, 'id': 15603569103303, 'height': 3264, 'image_type': 'photo', 'annotated': False, 'self': 'https://strabospot.org/db/image/15603569103303'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
[{'width': 2268, 'id': 17497393618448, 'title': 'Fault with slicken lines and rounded.', 'modified_timestamp': 1749770116115, 'image_type': 'photo', 'height': 3024, 'annotated': False, 'self': 'https://strabospot.org/db/image/17497393618448'}]                                                                                                                                                                                                                                                                                                                                                                                         1
Name: count, Length: 4750, dtype: int64
==================================================================================================================================
20
properties_images_notes
Pegmatite                                                                                           11
Gouge zone jm/pf                                                                                     8
Slicken lines on each side                                                                           8
A lot more red than quartz we saw yesterday 6/10/19\nWe think itâ€™s because of the iron content     8
Iron rich which is a weathering feature\nQuartz is making it more resistant                          8
                                                                                                    ..
Foliated gneiss if basement in contact with the fountain. Foliation trends north-northwest.          1
Crenulated cleaveage of quartzite indicative of stress.                                              1
Quarts vein in foliated quartzite.                                                                   1
Bodinage.                                                                                            1
 [-105.2768743831615                                                                                 1
Name: count, Length: 201, dtype: int64
==================================================================================================================================
21
properties_trace_contact_type
depositional           1590
metamorphic             871
intrusive                80
other                    46
marker_layer             25
 38.5644102517299]        1
 38.49799416478112]       1
Name: count, dtype: int64
==================================================================================================================================
22
properties_trace_trace_notes
Last schist float present                                                                                   4
Contact between schist and southern quartzite.                                                              4
Ralsten up Morrison down                                                                                    3
Contact between the massive quartzite and schist to north                                                   3
Contact between schist and northern quartzite.                                                              3
Schist to south, quartzite to north                                                                         3
Around 80 degrees dip to w\n~n15e strike \nProbably reverse (left side up)\nMorrison and ralsten            3
Qal                                                                                                         2

In [67]:
#getting rid of outliers and duplicates

df = df.drop(columns= df.columns[153:].tolist(), axis = 1) #dropped because features were unamed and VERY sparse
df = df.drop_duplicates()
df = df.drop([46341,40941]) #outliers
df["Complete"] = df["Complete"].replace("TRUE", True )
df["Complete"] = df["Complete"].replace("FALSE", False )
df["properties_trace_trace_feature"] = df["properties_trace_trace_feature"].replace("TRUE", True )
df["properties_inferences_outcrop_in_place"] = df["properties_inferences_outcrop_in_place"].replace("5 - definitely in place", 5 )
df["properties_symbology_lineWidth"] = df["properties_symbology_lineWidth"].replace(2.0,"2")
df["properties_symbology_lineWidth"] = df["properties_symbology_lineWidth"].replace(4.0,"4")
df = df.dropna(axis=1, how= "all")
df.shape

/var/folders/k_/qdqmhtsx7mz24yl5hmlfnjz80000gn/T/ipykernel_66802/3617270467.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["properties_inferences_outcrop_in_place"] = df["properties_inferences_outcrop_in_place"].replace("5 - definitely in place", 5 )

(46852, 118)

In [68]:
#dropped to prevent data leakage. These features were added in at a later point in time as indicated by their values which are grades of the spots.

df = df.drop(columns= ["contacts drawing", "contacts drawing quality", "classification of spots" , "correctness of spots", "completeness of map","unit labels",  "images", "overall impression", "Complete"])

In [69]:
def binary_simplification(df):
    """converts a pandas dataframe into binary based off of presence in data

    Args:
        df (pandas.DataFrame): a pandas dataframe of the data that needs to be converted to binary

    Returns:
        pandas.DataFrame: a new dataframe that has now been converted to binary
    """
    df_new = df.copy()
    binary_col_data = {}
    columns_to_drop = []
    
    for col in df.columns:
        print(f"Converting {col} to binary")
        binary_col_data[col] = df_new[col].replace('', np.nan).notna().astype(int)
        columns_to_drop.append(col)
            
    df_new = df_new.drop(columns=columns_to_drop)
    
    # Add all new binary columns in one go using pd.concat
    if binary_col_data:
        df_new = pd.concat([df_new, pd.DataFrame(binary_col_data, index=df_new.index)], axis=1)
        
    return df_new

In [70]:
df = binary_simplification(df)
val_count(df)

Converting geometry_type to binary
Converting geometry_coordinates to binary
Converting properties_date to binary
Converting properties_trace_trace_feature to binary
Converting properties_trace_trace_type to binary
Converting properties_name to binary
Converting properties_time to binary
Converting properties_id to binary
Converting properties_modified_timestamp to binary
Converting properties_self to binary
Converting type to binary
Converting properties_images to binary
Converting properties_images_notes to binary
Converting properties_trace_contact_type to binary
Converting properties_trace_trace_notes to binary
Converting properties_trace_geologic_structure_type to binary
Converting properties_trace_shear_sense to binary
Converting properties_orientation_data to binary
Converting properties_rock_unit_unit_label_abbreviation to binary
Converting properties_rock_unit_map_unit_name to binary
Converting properties_notes to binary
Converting properties_image_basemap to binary
Converting properties_trace_depositional_contact_type to binary
Converting properties_trace_other_contact_type to binary
Converting properties_trace_trace_quality to binary
Converting properties_symbology_circleColor to binary
Converting properties_trace_metamorphic_contact_type to binary
Converting properties_rock_unit_rock_type to binary
Converting properties_rock_unit_metamorphic_rock_types to binary
Converting properties_rock_unit_description to binary
Converting properties_trace_trace_character to binary
Converting properties_inferences_rosetta_outcrop to binary
Converting properties_inferences_description_of_outcrop to binary
Converting properties_inferences_relationships to binary
Converting properties__3d_structures to binary
Converting properties_trace_intrusive_contact_type to binary
Converting properties_other_features to binary
Converting properties_trace_fold_type to binary
Converting properties_rock_unit_notes to binary
Converting properties_trace_other_feature to binary
Converting properties_rock_unit_sedimentary_rock_type to binary
Converting properties_rock_unit_igneous_rock_class to binary
Converting properties_rock_unit_plutonic_rock_types to binary
Converting properties_rock_unit_sediment_type to binary
Converting properties_samples to binary
Converting properties_inferences_outcrop_in_place to binary
Converting properties_trace_other_other_feature to binary
Converting properties_rock_unit_period to binary
Converting properties_trace_marker_layer_details to binary
Converting properties_strike to binary
Converting properties_dip to binary
Converting properties_Rake to binary
Converting properties_spot_radius_units to binary
Converting properties_spot_radius to binary
Converting properties_inferences_related_rosetta_outcrop to binary
Converting properties_inferences_notes to binary
Converting properties_rock_unit_absolute_age_of_geologic_unit to binary
Converting properties_trace_tace_notes to binary
Converting properties_altitude to binary
Converting properties_trace_antropogenic_feature to binary
Converting properties_lng to binary
Converting properties_lat to binary
Converting properties_sed_strat_section_strat_section_id to binary
Converting properties_sed_strat_section_column_profile to binary
Converting properties_sed_strat_section_column_y_axis_units to binary
Converting properties_sed_strat_section_section_well_name to binary
Converting properties_sed_strat_section_display_lithology_patterns to binary
Converting properties_orientation_type to binary
Converting properties_orientation_id to binary
Converting properties_orientation_quality to binary
Converting properties_orientation_feature_type to binary
Converting properties_orientation_strike to binary
Converting properties_orientation_dip_direction to binary
Converting properties_orientation_dip to binary
Converting properties_orientation_label to binary
Converting properties_trace_fold_attitude to binary
Converting properties_orientation_trend to binary
Converting properties_orientation_plunge to binary
Converting properties_orientation_rake to binary
Converting properties_orientation_rake_calculated to binary
Converting properties_trace_other_depositional_type to binary
Converting properties_orientation_fault_or_sz_type to binary
Converting properties_orientation_foliation_type to binary
Converting properties_sed_strat_section_section_type to binary
Converting properties_sed_strat_section_purpose to binary
Converting properties_trace_geomorphic_feature to binary
Converting properties_trace_other_geomorphic_feature to binary
Converting properties_orientation_directional_indicators to binary
Converting properties_sed_strat_section_misc_labels to binary
Converting properties_orientation_bedding_type to binary
Converting properties_orientation_facing to binary
Converting properties_orientation_facing_defined_by to binary
Converting properties_orientation_associated_orientation to binary
Converting properties_orientation_movement to binary
Converting properties_trace_other_trace_character to binary
Converting properties_orientation_notes to binary
Converting properties_orientation_contact_type to binary
Converting properties_trace_other_anthropogenic_feature to binary
Converting properties_viewed_timestamp to binary
Converting properties_symbology_lineColor to binary
Converting properties_symbology_lineWidth to binary
Converting properties_symbology_lineDasharray to binary
Converting properties_gps_accuracy to binary
Converting properties_trace_other_trace_quality to binary
Converting properties_notesTimestamp to binary
Converting properties_orientation_movement_justification to binary
Converting properties_altitude_accuracy to binary
Converting properties_trace_other_shear_sense to binary
Converting properties_trace_other_fold_type to binary
0
geometry_type
1    46852
Name: count, dtype: int64
==================================================================================================================================
1
geometry_coordinates
1    46852
Name: count, dtype: int64
==================================================================================================================================
2
properties_date
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
3
properties_trace_trace_feature
0    41863
1     4989
Name: count, dtype: int64
==================================================================================================================================
4
properties_trace_trace_type
0    41863
1     4989
Name: count, dtype: int64
==================================================================================================================================
5
properties_name
1    46623
0      229
Name: count, dtype: int64
==================================================================================================================================
6
properties_time
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
7
properties_id
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
8
properties_modified_timestamp
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
9
properties_self
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
10
type
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
11
properties_images
0    41871
1     4981
Name: count, dtype: int64
==================================================================================================================================
12
properties_images_notes
0    46636
1      216
Name: count, dtype: int64
==================================================================================================================================
13
properties_trace_contact_type
0    44796
1     2056
Name: count, dtype: int64
==================================================================================================================================
14
properties_trace_trace_notes
0    46773
1       79
Name: count, dtype: int64
==================================================================================================================================
15
properties_trace_geologic_structure_type
0    45133
1     1719
Name: count, dtype: int64
==================================================================================================================================
16
properties_trace_shear_sense
0    45902
1      950
Name: count, dtype: int64
==================================================================================================================================
17
properties_orientation_data
1    30717
0    16135
Name: count, dtype: int64
==================================================================================================================================
18
properties_rock_unit_unit_label_abbreviation
0    46310
1      542
Name: count, dtype: int64
==================================================================================================================================
19
properties_rock_unit_map_unit_name
0    46549
1      303
Name: count, dtype: int64
==================================================================================================================================
20
properties_notes
0    43056
1     3796
Name: count, dtype: int64
==================================================================================================================================
21
properties_image_basemap
0    46493
1      359
Name: count, dtype: int64
==================================================================================================================================
22
properties_trace_depositional_contact_type
0    46351
1      501
Name: count, dtype: int64
==================================================================================================================================
23
properties_trace_other_contact_type
0    46822
1       30
Name: count, dtype: int64
==================================================================================================================================
24
properties_trace_trace_quality
0    42299
1     4553
Name: count, dtype: int64
==================================================================================================================================
25
properties_symbology_circleColor
0    29195
1    17657
Name: count, dtype: int64
==================================================================================================================================
26
properties_trace_metamorphic_contact_type
0    46437
1      415
Name: count, dtype: int64
==================================================================================================================================
27
properties_rock_unit_rock_type
0    46585
1      267
Name: count, dtype: int64
==================================================================================================================================
28
properties_rock_unit_metamorphic_rock_types
0    46742
1      110
Name: count, dtype: int64
==================================================================================================================================
29
properties_rock_unit_description
0    46818
1       34
Name: count, dtype: int64
==================================================================================================================================
30
properties_trace_trace_character
0    46429
1      423
Name: count, dtype: int64
==================================================================================================================================
31
properties_inferences_rosetta_outcrop
0    46839
1       13
Name: count, dtype: int64
==================================================================================================================================
32
properties_inferences_description_of_outcrop
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
33
properties_inferences_relationships
0    46839
1       13
Name: count, dtype: int64
==================================================================================================================================
34
properties__3d_structures
0    46815
1       37
Name: count, dtype: int64
==================================================================================================================================
35
properties_trace_intrusive_contact_type
0    46818
1       34
Name: count, dtype: int64
==================================================================================================================================
36
properties_other_features
0    46836
1       16
Name: count, dtype: int64
==================================================================================================================================
37
properties_trace_fold_type
0    46786
1       66
Name: count, dtype: int64
==================================================================================================================================
38
properties_rock_unit_notes
0    46771
1       81
Name: count, dtype: int64
==================================================================================================================================
39
properties_trace_other_feature
0    46739
1      113
Name: count, dtype: int64
==================================================================================================================================
40
properties_rock_unit_sedimentary_rock_type
0    46779
1       73
Name: count, dtype: int64
==================================================================================================================================
41
properties_rock_unit_igneous_rock_class
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
42
properties_rock_unit_plutonic_rock_types
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
43
properties_rock_unit_sediment_type
0    46847
1        5
Name: count, dtype: int64
==================================================================================================================================
44
properties_samples
0    46826
1       26
Name: count, dtype: int64
==================================================================================================================================
45
properties_inferences_outcrop_in_place
0    46847
1        5
Name: count, dtype: int64
==================================================================================================================================
46
properties_trace_other_other_feature
0    46835
1       17
Name: count, dtype: int64
==================================================================================================================================
47
properties_rock_unit_period
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
48
properties_trace_marker_layer_details
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
49
properties_strike
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
50
properties_dip
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
51
properties_Rake
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
52
properties_spot_radius_units
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
53
properties_spot_radius
0    46801
1       51
Name: count, dtype: int64
==================================================================================================================================
54
properties_inferences_related_rosetta_outcrop
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
55
properties_inferences_notes
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
56
properties_rock_unit_absolute_age_of_geologic_unit
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
57
properties_trace_tace_notes
0    46737
1      115
Name: count, dtype: int64
==================================================================================================================================
58
properties_altitude
0    30339
1    16513
Name: count, dtype: int64
==================================================================================================================================
59
properties_trace_antropogenic_feature
0    46844
1        8
Name: count, dtype: int64
==================================================================================================================================
60
properties_lng
0    46637
1      215
Name: count, dtype: int64
==================================================================================================================================
61
properties_lat
0    46637
1      215
Name: count, dtype: int64
==================================================================================================================================
62
properties_sed_strat_section_strat_section_id
0    46840
1       12
Name: count, dtype: int64
==================================================================================================================================
63
properties_sed_strat_section_column_profile
0    46840
1       12
Name: count, dtype: int64
==================================================================================================================================
64
properties_sed_strat_section_column_y_axis_units
0    46841
1       11
Name: count, dtype: int64
==================================================================================================================================
65
properties_sed_strat_section_section_well_name
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
66
properties_sed_strat_section_display_lithology_patterns
0    46848
1        4
Name: count, dtype: int64

In [71]:
# uses variance threshold for feature reduction, removes features where all values are identical

selector = VarianceThreshold(threshold=0) #removes all features with low variance in 100% of samples  (you do (1 - percentage of same values) * percentage of vaues that are the same)
selector.fit_transform(df)

cols_idxs = selector.get_support(indices=True)
df = df.iloc[:,cols_idxs]
val_count(df)

0
properties_date
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
1
properties_trace_trace_feature
0    41863
1     4989
Name: count, dtype: int64
==================================================================================================================================
2
properties_trace_trace_type
0    41863
1     4989
Name: count, dtype: int64
==================================================================================================================================
3
properties_name
1    46623
0      229
Name: count, dtype: int64
==================================================================================================================================
4
properties_time
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
5
properties_id
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
6
properties_modified_timestamp
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
7
properties_self
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
8
type
1    46850
0        2
Name: count, dtype: int64
==================================================================================================================================
9
properties_images
0    41871
1     4981
Name: count, dtype: int64
==================================================================================================================================
10
properties_images_notes
0    46636
1      216
Name: count, dtype: int64
==================================================================================================================================
11
properties_trace_contact_type
0    44796
1     2056
Name: count, dtype: int64
==================================================================================================================================
12
properties_trace_trace_notes
0    46773
1       79
Name: count, dtype: int64
==================================================================================================================================
13
properties_trace_geologic_structure_type
0    45133
1     1719
Name: count, dtype: int64
==================================================================================================================================
14
properties_trace_shear_sense
0    45902
1      950
Name: count, dtype: int64
==================================================================================================================================
15
properties_orientation_data
1    30717
0    16135
Name: count, dtype: int64
==================================================================================================================================
16
properties_rock_unit_unit_label_abbreviation
0    46310
1      542
Name: count, dtype: int64
==================================================================================================================================
17
properties_rock_unit_map_unit_name
0    46549
1      303
Name: count, dtype: int64
==================================================================================================================================
18
properties_notes
0    43056
1     3796
Name: count, dtype: int64
==================================================================================================================================
19
properties_image_basemap
0    46493
1      359
Name: count, dtype: int64
==================================================================================================================================
20
properties_trace_depositional_contact_type
0    46351
1      501
Name: count, dtype: int64
==================================================================================================================================
21
properties_trace_other_contact_type
0    46822
1       30
Name: count, dtype: int64
==================================================================================================================================
22
properties_trace_trace_quality
0    42299
1     4553
Name: count, dtype: int64
==================================================================================================================================
23
properties_symbology_circleColor
0    29195
1    17657
Name: count, dtype: int64
==================================================================================================================================
24
properties_trace_metamorphic_contact_type
0    46437
1      415
Name: count, dtype: int64
==================================================================================================================================
25
properties_rock_unit_rock_type
0    46585
1      267
Name: count, dtype: int64
==================================================================================================================================
26
properties_rock_unit_metamorphic_rock_types
0    46742
1      110
Name: count, dtype: int64
==================================================================================================================================
27
properties_rock_unit_description
0    46818
1       34
Name: count, dtype: int64
==================================================================================================================================
28
properties_trace_trace_character
0    46429
1      423
Name: count, dtype: int64
==================================================================================================================================
29
properties_inferences_rosetta_outcrop
0    46839
1       13
Name: count, dtype: int64
==================================================================================================================================
30
properties_inferences_description_of_outcrop
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
31
properties_inferences_relationships
0    46839
1       13
Name: count, dtype: int64
==================================================================================================================================
32
properties__3d_structures
0    46815
1       37
Name: count, dtype: int64
==================================================================================================================================
33
properties_trace_intrusive_contact_type
0    46818
1       34
Name: count, dtype: int64
==================================================================================================================================
34
properties_other_features
0    46836
1       16
Name: count, dtype: int64
==================================================================================================================================
35
properties_trace_fold_type
0    46786
1       66
Name: count, dtype: int64
==================================================================================================================================
36
properties_rock_unit_notes
0    46771
1       81
Name: count, dtype: int64
==================================================================================================================================
37
properties_trace_other_feature
0    46739
1      113
Name: count, dtype: int64
==================================================================================================================================
38
properties_rock_unit_sedimentary_rock_type
0    46779
1       73
Name: count, dtype: int64
==================================================================================================================================
39
properties_rock_unit_igneous_rock_class
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
40
properties_rock_unit_plutonic_rock_types
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
41
properties_rock_unit_sediment_type
0    46847
1        5
Name: count, dtype: int64
==================================================================================================================================
42
properties_samples
0    46826
1       26
Name: count, dtype: int64
==================================================================================================================================
43
properties_inferences_outcrop_in_place
0    46847
1        5
Name: count, dtype: int64
==================================================================================================================================
44
properties_trace_other_other_feature
0    46835
1       17
Name: count, dtype: int64
==================================================================================================================================
45
properties_rock_unit_period
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
46
properties_trace_marker_layer_details
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
47
properties_strike
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
48
properties_dip
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
49
properties_Rake
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
50
properties_spot_radius_units
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
51
properties_spot_radius
0    46801
1       51
Name: count, dtype: int64
==================================================================================================================================
52
properties_inferences_related_rosetta_outcrop
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
53
properties_inferences_notes
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
54
properties_rock_unit_absolute_age_of_geologic_unit
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
55
properties_trace_tace_notes
0    46737
1      115
Name: count, dtype: int64
==================================================================================================================================
56
properties_altitude
0    30339
1    16513
Name: count, dtype: int64
==================================================================================================================================
57
properties_trace_antropogenic_feature
0    46844
1        8
Name: count, dtype: int64
==================================================================================================================================
58
properties_lng
0    46637
1      215
Name: count, dtype: int64
==================================================================================================================================
59
properties_lat
0    46637
1      215
Name: count, dtype: int64
==================================================================================================================================
60
properties_sed_strat_section_strat_section_id
0    46840
1       12
Name: count, dtype: int64
==================================================================================================================================
61
properties_sed_strat_section_column_profile
0    46840
1       12
Name: count, dtype: int64
==================================================================================================================================
62
properties_sed_strat_section_column_y_axis_units
0    46841
1       11
Name: count, dtype: int64
==================================================================================================================================
63
properties_sed_strat_section_section_well_name
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
64
properties_sed_strat_section_display_lithology_patterns
0    46848
1        4
Name: count, dtype: int64
==================================================================================================================================
65
properties_orientation_type
0    46205
1      647
Name: count, dtype: int64
==================================================================================================================================
66
properties_orientation_id
0    46205
1      647
Name: count, dtype: int64
==================================================================================================================================
67
properties_orientation_quality
0    46461
1      391
Name: count, dtype: int64
==================================================================================================================================
68
properties_orientation_feature_type
0    46223
1      629
Name: count, dtype: int64
==================================================================================================================================
69
properties_orientation_strike
0    46227
1      625
Name: count, dtype: int64
==================================================================================================================================
70
properties_orientation_dip_direction
0    46260
1      592
Name: count, dtype: int64
==================================================================================================================================
71
properties_orientation_dip
0    46227
1      625
Name: count, dtype: int64
==================================================================================================================================
72
properties_orientation_label
0    46210
1      642
Name: count, dtype: int64
==================================================================================================================================
73
properties_trace_fold_attitude
0    46820
1       32
Name: count, dtype: int64
==================================================================================================================================
74
properties_orientation_trend
0    46830
1       22
Name: count, dtype: int64
==================================================================================================================================
75
properties_orientation_plunge
0    46831
1       21
Name: count, dtype: int64
==================================================================================================================================
76
properties_orientation_rake
0    46833
1       19
Name: count, dtype: int64
==================================================================================================================================
77
properties_orientation_rake_calculated
0    46832
1       20
Name: count, dtype: int64
==================================================================================================================================
78
properties_trace_other_depositional_type
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
79
properties_orientation_fault_or_sz_type
0    46846
1        6
Name: count, dtype: int64
==================================================================================================================================
80
properties_orientation_foliation_type
0    46743
1      109
Name: count, dtype: int64
==================================================================================================================================
81
properties_sed_strat_section_section_type
0    46847
1        5
Name: count, dtype: int64
==================================================================================================================================
82
properties_sed_strat_section_purpose
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
83
properties_trace_geomorphic_feature
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
84
properties_trace_other_geomorphic_feature
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
85
properties_orientation_directional_indicators
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
86
properties_sed_strat_section_misc_labels
0    46849
1        3
Name: count, dtype: int64
==================================================================================================================================
87
properties_orientation_bedding_type
0    46799
1       53
Name: count, dtype: int64
==================================================================================================================================
88
properties_orientation_facing
0    46825
1       27
Name: count, dtype: int64
==================================================================================================================================
89
properties_orientation_facing_defined_by
0    46838
1       14
Name: count, dtype: int64
==================================================================================================================================
90
properties_orientation_associated_orientation
0    46848
1        4
Name: count, dtype: int64
==================================================================================================================================
91
properties_orientation_movement
0    46850
1        2
Name: count, dtype: int64
==================================================================================================================================
92
properties_trace_other_trace_character
0    46851
1        1
Name: count, dtype: int64
==================================================================================================================================
93
properties_orientation_notes
0    46848
1        4